%h1 Update Movie

= form_tag movies_path(@movie), :method => :put do
  
  = label :movie, :toup, 'To Update' 
  = text_field :movie, 'toup'
  
  = label :movie, :title, 'Title' 
  = text_field :movie, 'title'

  = label :movie, :rating, 'Rating'
  = text_field :movie, 'rating'

  = label :movie, :release_date, 'Released On'
  = text_field :movie, :release_date

  = submit_tag 'Save Changes'